.Home_ask3 {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    background:radial-gradient(circle at 30% -100%, #6D76E3 25%, rgb(35, 77, 119) 100%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.Home_ask3-feature {
    display: flex;
}

.Home_ask3-feature .gpt3__features-container__feature {
    margin: 0;
}

.Home_ask3-feature .gpt3__features-container_feature-text {
    max-width: 700px;
}

.Home_ask3-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 20rem;
}

.Home_ask3-heading h1 {
    font-size: 72px;
    line-height: 75px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 710px;
    padding-bottom: 50px;
  
}

.Home_ask3-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 6px;
}

.Home_ask3-heading p2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

