<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #D0E7E9;
}

.logo{
  font-weight: 800;
  align: center;
}
.menu{
  list-style: none;
  display:flex;
  margin: auto auto;
}

.menu a{
  display: flex;
  color: #3A3A38;
  text-decoration: none;
  margin: auto 5em;
}

.menu a:hover {
  transition-duration: .5s;
  color      : #214566;
  text-shadow: 1.5px 1.5px #3A3A38;
  background : transparent;
  background-color : transparent;
  transform: scale3d(1.02);
  transform-origin: 5px 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
