.menu {
  flex: 1;
  display: box;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  margin-right: 5rem;
  padding-left: 50px
}



































































































