.logo h1 {
    font-family: "Helvetica Neue";
    color: #214566;
}

span {
    font-family: "Helvetica Neue";
    font-size: 34px;
    color: #3A3A38;
}

.num {
    color: #6D76E3;
}

h1 {
    font-family: "Helvetica Neue";
    color: black;
}

.login {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login label {
    text-align:left;
    display: block;
}

.login h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

.login input, .login textarea, .login select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    display: block;
}

.login button {
    background : black;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}


